<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" href="./images/weather.png">
    <link href="./css/styles.css" rel="stylesheet">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <div class="portrairt"><img src="./images/My.jpg"></div>
        <p>Created by {{name}}</p>
    </div>
    {{>footer}}
</body>
</html>